
:root{
  --background:#dde7c6;
  --background-sec: #2B2E26;
  --primary: #afc381;

  --text-dark:#2B2E26;
  --text-light: #F5F5F5;

}




*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

 font-family: poppins;
  color: var();


}



body {
  background-color: var(--background);
  font-size: 14px;
}




a {
  text-decoration: inherit;
  color: inherit;
}




.Main{
  margin: 1rem;
  width: 100%;
  height: 80vh;
}