
:root{
  --background:#f1f9e0;
  --background-sec: #3F5744;
  --primary:#FDC67E;

  --text-dark:#363A34;
  --text-light: #F5F5F5;

}




*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

 font-family: poppins;
  color: var();


}



body {
  background-color: var(--background);
  font-size: 14px;
}




a {
  text-decoration: inherit;
  color: inherit;
}




.Main{
  margin: 1rem;
  width: 100%;
  height: 100vh;
}